<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ shop.name }}</title>

  {{ content_for_header }}

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
</head>
<body>

  {{ content_for_layout }}

  <script src="{{ 'theme.js' | asset_url }}"></script>
</body>
</html>
